# TEST
test.php

# EDITOR
.idea
.libs

# COMPILER
.lo
autom4te.cache
*.lo
.o
.la
*.la
*.o
modules
include
build
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
Makefile
Makefile.fragments
Makefile.objects
run-tests.php
vgcore.*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db